.wrapper {
    width: 100%;
    background: #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.menu {
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}